{
  "Service": {
    "Port": 4000,
    "LogLevel": 5,
    "SessionLifetime": 1800
  },
  "Redis": {
    "Addr": "redis:6379",
    "Password": "",
    "DB": 0
  },
  "AccountList": {
    "MyApp": {
      "ApiKey": "secretapitoken"
    },
    "OtherApp": {
      "ApiKey": "secretapitoken2"
    }
  }
}